.body {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial;
}

.forms-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.form-groups {
    width: 40%;
    display: flex;
}

.forms-section input {
    border: 1px solid #ced4da;
    order-radius: .25rem;
    height: calc(1.5em + .75rem + 2px);
    border-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 70%;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ced4da;
    border-radius: .5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    width: 30%;
    cursor: pointer;
    font-family: Arial;
    font-size: 1rem;
}

.form-btn:active {
    background-color: #c6eeff;
}

.todo-section {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.todo {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-bottom: none;
    padding: 15px 0 15px 0;
}

.todo .check {
    width: 5%;
}

.todo .title {
    width: 85%;
    text-align: left;
    font-weight: 400;
}

.todo.empty {
    width: 100%;
    text-align: center;
    font-weight: 400;
    justify-content: center;
}

.todo .title.completed{
    text-decoration: line-through;
}

.todo .delete {
    width: 10%;
}

.todo:last-child {
    border-bottom: 1px solid #ced4da;
}

.filter-block {
    display: flex;
    margin: 20px auto 0 auto;
    max-width: 90%;
}

.filter{
    display: flex;
    margin-bottom: -1px;
}

.tab {
    border: none;
    padding: 5px 10px;
    border-bottom: 1px solid #ced4da;
    z-index: 2;
    font-weight: bold;
    cursor: pointer;
}

.tab.active {
    border: 1px solid #ced4da;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: 1px solid white;
    color: cornflowerblue;
}

.fas {
    cursor: pointer;
    padding-right: 10px;
}

.fas.fa-trash {
    color: tomato;
}

.fas.fa-edit {
    color: gray;
}

.progress-block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 90%;
}

.progress-bar {
    height: 8px;
    width: 100%;
    background-color: #ced4da;
}

.current-progress {
    background-color: cornflowerblue;
    height: 100%;
    transition: width 0.5s ease;
}

.stat {
    text-align: right;
    font-size: 13px;
}