a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

a:visited {
    color:black;
}

.groups {
    list-style-type: none;
    font-family: Arial;
    margin: 0;
    padding-left: 15px;
    flex-direction: column;
}

.groups.parent-groups {
    display: flex;
}

.groups li{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.category{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
    padding: 5px;
    font-family: Arial;
    font-weight: bold;
}

.groups.parent-groups > li{
    display: flex;
}

.fas.fa-trash {
    justify-self: flex-end;
}

.category.active {
    background-color: #2473f2;

}

.category.active a:visited {
    color: white;
}

.fas {
    cursor: pointer;
    padding-right: 10px;
}

.fas.fa-trash {
    color: tomato;
}

a.active .fas.fa-trash {
    color: tomato;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 35%;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-section {
    flex-basis: 30%;
    background-color: #eee;
}

.task-section {
    flex-basis: 69%;
    background-color: #eee;
}

.modal-content {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-weight: bold;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}

.modal-message {
    padding: 30px;
    font-weight: normal;
    border-bottom: 1px solid #dee2e6;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    font-family: Arial;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}

.task-section{
    border-radius: 5px;
    font-family: Arial;
}

.tasks-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.task-item {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}